/node_modules
/public/hot
/public/storage
/storage/app/public/images
/storage/*.key
/vendor
.env
.env.*
supra_suprapp_2024.sql
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
resources.zip
public/js.zip
